#nav-login:before{
    content: '\f178';
    color: #FF6700;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    font-family: 'flaticon';
    font-weight: bold;
}

#nav-inicio:before{
    content: '\f132';
    color: #FF6700;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    font-family: 'flaticon';
    font-weight: bold;
}

#nav-cursos:before{
    content: '\f179';
    color: #FF6700;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    font-family: 'flaticon';
    font-weight: bold;
}

#nav-blog:before{
    content: '\f128';
    color: #FF6700;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    font-family: 'flaticon';
    font-weight: bold;
}

#nav-contact:before{
    content: '\f11e';
    color: #FF6700;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    font-family: 'flaticon';
    font-weight: bold;
}
#video{
    position: relative;
    width: 99%;
    height: 300px;    
}
.alert{
    position: relative;
    margin-bottom: -5px; 
    font-weight: bold;
}
#video-e-seccion{
    position: relative;
    top: 30px;
}

@media screen and (min-width: 544px){

}
@media screen and (min-width: 768px){
    #nav-login:before{display: none;} #nav-inicio:before{display: none;} #nav-cursos:before{display:  none;}
    #nav-blog:before{display:  none;} #nav-contact:before{display: none;}
}
@media screen and (min-width: 992px){
	
}
@media screen and (min-width: 1200px){
	
}